torch==2.6.0
uvicorn==0.34.2
langchain==0.3.21
faiss-cpu==1.10.0
streamlit==1.32.2
setuptools==75.1.0
sounddevice==0.5.2
tokenizers==0.21.1
pdfplumber==0.11.5
safetensors==0.5.3
transformers==4.50.1
langchain-core==0.3.48
huggingface-hub==0.29.3
langchain-community==0.3.20
sentence-transformers==3.4.1
langchain-experimental==0.3.4
langchain-text-splitters==0.3.7